{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block content %}
<div class="container">
    <br>
    <div class="row">
        <div class="col l10 m10 s10 offset-m1 offset-l1 offset-s1">
            <table class="striped indigo lighten-3">
                <thead class="indigo">
                    <tr>
                        <thead><h5>Ward</h5></thead>
                    </tr>
                </thead>

                <tbody>
                    {% for ward in ward_list %}
                    <tr>
                        <td>
                            <a href="{% url 'analyze:ward_level_indirect_analysis' pk=ward.pk %}" class="white-text">{{ward.ward_id}}</a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>




{% endblock %}