<!DOCTYPE html>
{% load pwa %}
{% load staticfiles %}
<html lang="en">

<head>
    {% progressive_web_app_meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabs</title>
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block head %}
    {% endblock %}

    <style>
        .footer-tabs {
            width: 100%;
            position: fixed;
            bottom: 0px;
        }

        .tab_1_div {
            display: block;
        }

        .tab_2_div {
            display: none;
        }

        .tab_3_div {
            display: none;
        }

        .icon-container .icon-preview {
            height: 120px;
            text-align: center;
        }
    </style>


</head>

<body>


    <header>
        <nav class="nav-wrapper indigo">
            <div class="container">
                <a href="{% url 'home' %}" class="brand-logo">TK Schedule</a>
                <a href="#" class="sidenav-trigger" data-target="mobile-menu">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    {% if user.pk in parent_all %}
                        <li><a href="{% url 'account:get_parent_details' %}">Update Details</a></li>
                        <li><a href="{% url 'parent:add_child' %}">Add Child</a></li>
                        <li><a href="{% url 'parent:set_reminder' %}">Set Reminders</a></li>
                        <li><a href="{% url 'parent:edit_vaccine_child' %}">Vac. Status</a></li>
                        <li><a href="{% url 'parent:child_list_aefi' %}">File AEFI</a></li>

                    {% endif %}
                    {% if user.pk in anm_all %}
                        <li><a href="{% url 'anm:get_parent_list' %}" class="white-text">Parent List</a></li>
                    {% endif %}
                    {% if user.pk in ward_all %}
                        <li><a href="{% url 'analyze:ward_level_analysis' %}" class="white-text">Ward Level Analysis</a></li>
                    {% endif %}

                    {% if user.pk in cluster_all %}
                        <li><a href="{% url 'analyze:cluster_level_analysis' %}" class="white-text">Cluster Level Analysis</a></li>
                        <li><a href="{% url 'analyze:ward_list' %}" class="white-text">Ward Level Analysis</a></li>
                    {% endif %}


                    {% if user.pk in district_all %}
                        <li><a href="{% url 'analyze:district_level_analysis' %}" class="white-text">District Level Analysis</a></li>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <li><a href="{% url 'account:logout' %}">Logout</a></li>
                    {% else %}
                    
                    <li><a href="{% url 'account:login' %}">Admin Login</a></li>
                    <li><a href="{% url 'account:get_parent_username' %}">Parent Login</a></li>
                    <li><a href="{% url 'info' %}">Immunization Info</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>


                    {% endif %}
                </ul>
                <ul class="sidenav indigo" id="mobile-menu">
                <br>
                <br>
                    {% if user.pk in parent_all %}
                        <li><a href="{% url 'account:get_parent_details' %}" class="white-text">Update Details</a></li>
                        <li><a href="{% url 'parent:add_child' %}" class="white-text">Add Child</a></li>
                        <li><a href="{% url 'parent:set_reminder' %}" class="white-text">Set Reminders</a></li>
                        <li><a href="{% url 'parent:edit_vaccine_child' %}" class="white-text">Vac. Status</a></li>
                        <li><a href="{% url 'parent:child_list_aefi' %}" class="white-text">File AEFI</a></li>


                    {% endif %}
                    {% if user.pk in anm_all %}
                        <li><a href="{% url 'anm:get_parent_list' %}" class="white-text">Parent List</a></li>
                    {% endif %}

                    {% if user.pk in ward_all %}
                        <li><a href="{% url 'analyze:ward_level_analysis' %}" class="white-text">Ward Level Analysis</a></li>
                    {% endif %}

                    {% if user.pk in cluster_all %}
                        <li><a href="{% url 'analyze:cluster_level_analysis' %}" class="white-text">Cluster Level Analysis</a></li>
                        <li><a href="{% url 'analyze:ward_list' %}" class="white-text">Ward Level Analysis</a></li>
                    {% endif %}

                    {% if user.pk in district_all %}
                        <li><a href="{% url 'analyze:district_level_analysis' %}" class="white-text">District Level Analysis</a></li>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <li><a href="{% url 'account:logout' %}" class="white-text">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'account:login' %}" class="white-text">Admin Login</a></li>
                    <li><a href="{% url 'account:get_parent_username' %}" class="white-text">Parent Login</a></li>
                    <li><a href="{% url 'info' %}" class="white-text">Immunization Info</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>

                    <li><a href="https://chat.whatsapp.com/Fr2zV6BZvCR7WuijvLaL0r" class="white-text">Connect to Doctors</a></li>

                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <div class="row footer-tabs hide-on-med-and-up white " style= "margin-bottom: 0px;">
        <div class="col s12 l12 m12" style="margin-left: 25px;">
            <div class="tab_1 col s4 l4 m4" onclick="loginFunc('')">
                <i class="material-icons home-icon" style="margin-left: 6px;">home</i>
                <br>
                <span style="cursor:pointer">Home</span>
            </div>
            <div class="tab_2 col s4 l4 m4" onclick="redirectMap()">
                <i class="material-icons info-icon" style="margin-left: 7px;">map</i>
                <br>
                <span style="margin-left:-20px;">Immunisation</span>
            </div>
            {% if user.is_authenticated %}
            <div class="tab_3 col s4 l4 m4" onclick="loginFunc('account/logout')">
                <i class="material-icons person-icon" style="margin-left: 3px;">exit_to_app</i>
                <br>
                <span>Logout</span>
            </div>
            {% endif %}
            {% if not user.is_authenticated %}
            <div class="tab_3 col s4 l4 m4" onclick="loginFunc('account/parent-username')">
                <i class="material-icons person-icon" style="margin-left: 3px;">person</i>
                <br>
                <span>Login</span>
            </div>
            {% endif %}
        </div>
    </div>


<script src="https://code.highcharts.com/highcharts.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>

        let BASE_URL = 'http://127.0.0.1:8000'

        let loginFunc = str => {
            var url = `${BASE_URL}/${str}`
            window.location.href = url;
        }

        let redirectMap = () => {
            window.location.href = 'http://127.0.0.1:8000/location/show-nearby-hospitals'
        }

        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.slider').slider();
            $('.datepicker').datepicker({
                disableWeekends: false,
                yearRange: 20,
                format: 'yyyy-mm-dd'
            });
            $('select').formSelect();
        });

    </script>

    <script src="{% static 'js/materialize.min.js' %}"></script>
</body>

</html>