{% extends 'base.html' %}
{% block head %}
{% load static %}
{% endblock %}
{% block content %}

 <div class="slider">
    <ul class="slides">
      <li>
        <img src="{% static 'img/vaccine_needle-732x549-thumbnail.jpg' %}"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'img/vaccine_needle-732x549-thumbnail.jpg' %}"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'img/vaccine_needle-732x549-thumbnail.jpg' %}"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'img/vaccine_needle-732x549-thumbnail.jpg' %}"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>

  <div class="section white">
      <div class="row container">
        <h2 class="header">Immunisation</h2>
        <p class="grey-text text-darken-3 lighten-3">Immunization, or immunisation, is the process by which an individual's immune system becomes fortified against an agent (known as the immunogen).</p>
      </div>
    </div>
{% endblock %}
{% comment %}
<a href="{% url 'location:get_nearby_hospital' %}">Nearby Immunisation Centers</a> {% if user.is_authenticated %}
{% if user.pk in parent_all %}
<a href="{% url 'account:get_parent_details' %}">Fill Details</a>
<a href="{% url 'parent:add_child' %}">Add Child</a>
<a href="{% url 'parent:edit_vaccine_child' %}">Edit Vaccines</a>
<a href="{% url 'parent:set_reminder' %}">Set Reminder</a> {% endif %}
<a href="{% url 'account:logout' %}">Logout</a> {% else %}
<p><a href={% url 'account:get_parent_username' %}>Parent Login</a></p>
<p><a href={% url 'account:login' %}>Login</a></p>
{% endif %} {% if user.pk in anm_all %}
<a href="{% url 'anm:get_parent_list' %}">Parents List</a> {% endif %} {% endcomment %}