{% extends 'base.html' %} {% block content %}

<a href="{% url 'location:get_nearby_hospital' %}">Nearby Immunisation Centers</a> {% if user.is_authenticated %} {% if user.pk in parent_all %}
<a href="{% url 'account:get_parent_details' %}">Fill Details</a>
<a href="{% url 'parent:add_child' %}">Add Child</a>
<a href="{% url 'parent:edit_vaccine_child' %}">Edit Vaccines</a>
<a href="{% url 'parent:set_reminder' %}">Set Reminder</a> {% endif %}
<a href="{% url 'account:logout' %}">Logout</a> {% else %}
<p><a href={% url 'account:get_parent_username' %}>Parent Login</a></p>
<p><a href={% url 'account:login' %}>Login</a></p>
{% endif %} {% if user.pk in anm_all %}
<a href="{% url 'anm:get_parent_list' %}">Parents List</a> {% endif %} {% endblock %}